<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="">
    <modules>
        <Example_Welcome>
            <router>ExampleRouter</router>
            <module>ExampleModule</module>
        </Example_Welcome>
    </modules>
</config>
